Package: peony
Version: 2020-10-26
Section: net
Priority: optional
Depends: 
Suggests: 
Architecture: any
Installed-Size: 66666
Maintainer: Jeremy Zheng
Provides: saturn-xiv
Description: https://github.com/saturn-xiv/peony

