Source: peony
Section: net
Priority: optional
Maintainer: Jeremy Zheng <jitang.zheng@gmail.com>
Standards-Version: 3.9.5
Homepage: https://github.com/saturn-xiv/peony
Vcs-Git: https://github.com/saturn-xiv/peony.git

Package: peony
Architecture: any
Description: A total free education & translation & ops solution.
